
<!-- navigation -->
<nav class="navbar col-md-12">
  <div class="navbar-header col-md-4" ng-click="getAllMyCards()">
    <h1>Cardling</h1>
  </div>
  <ul class="nav navbar-nav col-md-8">
    <li class="col-md-2" ng-click="getAllCards()">all cards</li>
    <li class="col-md-2" ng-click="getMyCards()">my cards</li>
    <li class="col-md-4 nav-search">
      <button class="btn btn-md btn-primary" ng-click="getCardSet()">Find set</button>
      <input name="set-search" type="text" ng-model="formData.targetSetRoute">
  </li>
  <li class="col-md-4 nav-search">
    <button class="btn btn-md btn-primary" ng-click="getMatchingCards()">Find by term</button>
    <input name="card-search" type="text" ng-model="formData.targetCard">
  </li>
      <a ng-click='logout()'><li>Logout</li></a>
  </ul>
</nav>

<!-- new card controls/form -->
<aside id="card-form" class="card-form col-md-2">
  <form>
    <fieldset>
      <label> 1<sup>st</sup> language: </label>
    <select id="to-translate">
      <option ng-repeat="lang in langChoices" ng-selected="$index == 6"> {{ lang }} </option>
      </select>
        </fieldset>
        <input type="text" class="form-control input-md" placeholder="word to translate" ng-model="formData.original">
    <fieldset>
      <label> 2<sup>nd</sup> language: </label>
        <select id="translated">
          <option ng-repeat = "lang in langChoices" ng-selected="$index == 36"> {{ lang }} </option>
        </select>
    </fieldset>
        <input type="text" class="form-control input-md" placeholder="translation" ng-model="formData.translated">
        <fieldset>
          <label> add an image:</label>
    </fieldset>
        <input type="text" class="form-control input-md" placeholder="image link" ng-model="formData.src">
    <fieldset>
        <label> set membership:</label>
    </fieldset>
      <input type="text" class="form-control input-md" placeholder="set membership" ng-model="formData.cardSet">
    <button type="submit" class="btn btn-primary btn-md" ng-click="submitCard()">{{submitText}}</button>
  </form>
</aside>

<div id="card-list" class="card-list">
  <div class="flashcard col-md-2" ng-repeat="card in cards" ng-class = "card._id" back-img = "{{card.src}}">
    <div class="card-control">
      <button class="btn btn-md btn-danger delete" ng-click="deleteCard(card._id)" ng-show="formData.owner===card.owner">X</button>
      <button class="btn btn-md btn-default edit" ng-click="editCard(card)" ng-show="formData.owner===card.owner">Edit</button>
    </div>
      <p ng-click="flip(card, card._id)"> <span> {{ card.text}} </span></p>
  </div>
</div>
